nav, header {
    background-color: #FDFFA7;
}
#offcanvasExample{
    width: 300px;
}
#offcanvasScrolling{
    width: 300px;
}

.col1, .col2, .col3 {
    border: 2px solid black;
}
.col1 {
    background-color: #DDF6F6;
}
.col2, .col3 {
    background-color: #D9D9D9;
}
.button-search {
    border: none;
}
.inbox1 {
    font-weight: bold;
}

.card {
    padding: 0.5em;
}
.card-body1, .card-body2{
    background-color: #DDF6F6;
}
.card-body3 {
    background-color: #FDFFA7;
}
.to, .from, .email-body1, .email-body2 {
    text-align: left;
}

